body {
    background-image: url(https://i.imgur.com/m8bTEaN.png);
    margin: 0;
}

header {
    /* margin: 0 auto; */
    background: #fff;
    border: #cccccc 1px solid;
    top: 0;
    left: 0;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #333333;
    color: #FFFFFF;
    padding: 6px 12px;
    width: 100%;
    right: 0;
    text-align: center;
    border-top: 7px solid #4aaaa5;
}

h1 {
    color: white;
    background: #4aaaa5;
    font-family: Georgia;
    width: 240px;
    height: 100px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

h2 {
    color: #4aaaa5;
    height: 35px;
    width: 30%;
    font-family: Georgia;
}

li {
    float: right;
    margin-right: 30px;
    font-family: Arial;
}

div {
    background: #fff;
    width: 960px;
    margin: 0 auto;
    height: 60%;
} 

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

img {
    float: left;
    height: 240px;
    width: 240px;
}

ul {
    margin: 0;
}

nav {
    margin: 0;
    float: right;
}

p {
    line-height: 2.5;
    font-family: Arial;
}

ul {
    float: right;
    margin-top: 40px;
}

#bullets {
    list-style-type: none;
}

.two-lis {
    border-right: 1px solid black;
    padding-right: 20px;
}

#one-li {
    margin right: 20px;
}

form {
    width: 920px;
    margin: 0 auto;
    font-family: Arial;
    vertical-align: text-top;
}

.smallinput {
    width: 900px;
}

#biginput {
    width: 900px;
    height: 200px;
}

button {
    background: #4aaaa5;
    color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    font-family: Arial;
}

.portfolioimages {
    width: 30%;
    float: left;
    margin: 1.66%;
    height: 200px;
}

.portfoliodiv {
    height: 520px;
}

.img-names {
    text-align: center;
    background: #4aaaa5;
    color: white;
    position: absolute;
    margin: 150px;
    width: 20%;
    display: table;
    clear: both;
}

#h1div {
    width: 960px;
    height: 60px;
    margin-right: 600px;
}

table {
    /* float: left; */
    position: absolute;
    font-family: Arial;
    color: white;
    border-spacing: 60px 150px;
}

td {
    background: #4aaaa5;
    width: 200px;
    text-align: center;
    padding: 20px;
    margin: 5%;
}

#jill {
    margin-right: 20px;
}

#headerdiv {
    width: 960px;
    height: 100px;
}



@media screen and (max-width: 980px) {

    .container {
        width: 70%;
        float: left;
        margin-top: 20px;
        margin-left: 20px;
    }

    form {
        width: 70%;
        float: left;
        margin-top: 20px;
        margin-left: 20px;
        background: white;
    }

    h1 {
        margin-left: 20px;
    }

    ul {
        margin-right: 190px;
    }
    
    .portfolioimages {
        width: 40%;
        /* height: auto; */
    }
    .smallinput {
        width: 90%;
    }
    #biginput {
        width: 90%;
    }
}


@media screen and (max-width: 768px) {

    .container {
        width: 95%;
    }

    nav {
        margin-right: 120px;
    }

    .smallinput {
        width: 90%;
    }

    #biginput {
        width: 90%;
    }

    form {
        width: 70%;
        float: left;
    }
    
}


@media screen and (max-width: 640px) {

    .container {
        width: 95%;
    }

    h1 {
        width: 100%;
    }

    nav {
        margin: 90px 350px 0px 0px;
        background: white;
        padding-left: 75px;
    }

    header {
        position: static;
    }

    form {
        width: 80%;
        float: left;
    }

    .portfoliodiv {
        width: 95%;
        margin-top: 70px;
    }

    .portfolioimages {
        width: 90%;
    }

    td {
        width: 90%
    }

    .smallinput {
        width: 90%;
    }

    #biginput {
        width: 90%;
    }
}